<div class="row">
<section class="main-section">
    <div class="col-xs-12 col-md-10 col-md-offset-1">
    <div class="col-xs-12 sec-heading-container">
    <div class="card p-a-2" style="font-size:.9rem">
    <p class="section-heading about-page">About Trailblazer HR Solutions</p>
    <p class="text-xs-left">Trailblazer HR Solutions has been established with the sole objective to dedicate itself for quality service in Human Resource Sector. We are specialists in HR Staffing. Which provide skilled human resources at Top, Middle and Junior level. We aim to provide consultations and value-added HR services to Corporate/ MNCs/ PSUs/ Industries and all type of Business establishments.
    </p>
<div id="accordion" role="tablist" aria-multiselectable="true">
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingOne">
      <h6 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          <p class="section-heading">Our Mission</p>
        </a>
      </h6>
    </div>
    <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
    <p class="text-xs-left">Due to the obvious rise in competitive pressures of pricing & expertise, companies are forced to concentrate on their “Mission Critical Areas”. Outsourcing through experts has become a necessity to optimise resources & time. Trailblazer HR Solutions is one of the companies, which identified this potential explosion & prepared itself to deliver.
    </p>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingTwo">
      <h6 class="panel-title">
        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          <p class="section-heading">HR Staffing Solutions</p>
        </a>
      </h6>
    </div>
    <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
      <p class="text-xs-left">We are an executive search and recruitment company. Our excellence is in providing highly qualified and experienced professionals for Senior, Middle and Junior Management Level. Our specialization is in understanding company needs, and providing candidates with relevant experience and skills to meet client needs. Our mission is to recruit responsible people in respect of vacancy and company needs.
    </p>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingThree">
      <h6 class="panel-title">
        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          <p class="section-heading">We recruit for</p>
        </a>
      </h6>
    </div>
    <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
      <p class="text-xs-left">We have been instrumental in providing candidates in the following functional areas:
        </p>
    <ul class="text-xs-left">
        <li>IT- Software</li>
        <li>ITES / BPO / KPO</li>
        <li>Manufacturing & Engineering</li>
        <li>Marketing & Sales</li>
        <li>Hospitality</li>
        <li>Front office staffing</li>
    </ul>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingFour">
      <h6 class="panel-title">
        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
          <p class="section-heading">Our sources</p>
        </a>
      </h6>
    </div>
    <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
      <p class="text-xs-left">Our best and experienced Recruiter source and fulfill the client requirement from the following various sources:
        </p>
    <ul class=" text-xs-left">
            <li>Various Job Portals</li>
            <li>Head Hunting</li>
            <li>Linkedin Networks</li>
            <li>Press Advertisement</li>
            <li>Our Database</li>
            <li>Educational Institutions</li>
            <li>Candidate apply to our Consultant</li>
            <li>References</li>
    </ul>
    </div>
  </div>
</div>
    </div>
    
        
            
            </div>
    </div>
</section>
</div>