
<section class="main-section">
   <div class="col-xs-12 col-md-10 col-md-offset-1">
       <div class="card row">
                <form action="#" class="col-xs-12 col-md-8 col-md-offset-2">

                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label col-xs-12">
                    <input class="mdl-textfield__input" type="text" id="name" pattern="[A-Z,a-z, ]*">
                    <label class="mdl-textfield__label" for="name">Name..</label>
                    <span class="mdl-textfield__error">Not a valid name!</span>
                </div>
                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label col-xs-12">
                    <input class="mdl-textfield__input" type="text" pattern="[0-9]*" id="sample4" maxlength="10">
                    <label class="mdl-textfield__label" for="sample4">MO. Number</label>
                    <span class="mdl-textfield__error">Input is not a Valid Number!</span>
                </div>
                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label col-xs-12">
                    <input class="mdl-textfield__input" type="email" id="email">
                    <label class="mdl-textfield__label" for="email">Email</label>
                    <span class="mdl-textfield__error">Input is not a Valid Email</span>
                </div>
                </form>
       </div>
   </div>
</section>