<div class="row">
<section class="main-section">
    <div class="col-xs-12 col-md-10 col-md-offset-1">
    <div class="col-xs-12 sec-heading-container">
    <div class="card p-a-2" style="font-size:.9rem">
    <p class="section-heading contact-page">Connect With Us</p>
<div class="row">
    
         <div class="col-xs-12 col-md-6">
             <p class= "text-xs-left"> For Business Queries, please contact:</p>
         <p class= "text-xs-left"> Office E-Mail: trailblazerhrsolutions@gmail.com </p>

<p class= "text-xs-left"> Mr. Shubham Garg | E-Mail: shubham4522@gmail.com</p>
<p class= "text-xs-left"> Phone: 07503200062</p>

<p class= "text-xs-left"> HR Team</p>
<p class= "text-xs-left"> please mail your cv to E-Mail: infohrjobss@gmail.com</p>

         </div>
         <div class="col-xs-12 col-md-6">
             <p class= "text-xs-right"> Address: </p>

 <p class= "text-xs-right"> OM Complex, naya bans, sector 15, Noida, Uttar Pradesh </p>
         </div>

</div>    
    </div>
    </div>
    </div>
</section>
</div>
    
    
    <!--<p class= "text-xs-right"> Address: </p>
    <p class= "text-xs-right"> OM Complex, naya bans, sector 15, Noida, Uttar Pradesh </p>  -->

    